.box{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #47B8DC;
}
.menuBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logotype{

    width: 143px;
    margin: 65px 0 60px 0;
}
.ul{
    list-style: none;
    padding: 0;
}
.link{
    width: 143px;
    text-align: center;
    padding: 8px 0;
    margin: 8px 0;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
}
.active,
.link:hover{
    width: 143px;
    text-align: center;
    background-color: #5480A9;
    border-radius: 10px;
    padding: 8px 0;
    margin: 8px 0;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
}
.btn{
    margin-bottom: 35px;
    font-size: 22px;
    background-color: #A75151;
    border-radius: 10px;
    padding: 8px 0;
    font-weight: bold;
    color: #fff;
    border: none;
    width: 143px;
}
.btn:hover{
    cursor: pointer;
    background-color: #B76E79;
}
