.box {
    width: 30%;
    margin: auto;
    border-radius: 20px;
    background-color: #fff;
    padding: 50px 60px;
}
.box h1 {
    text-align: center;
    margin-bottom: 52px;
}
.box div {
    min-height: 87px;
}
.box button{
    margin: auto;
}
.content{
    padding-top: 18vh;
}
.box p{
    text-align: center;
    color: rgb(79, 83, 102);
}
.box form{
    padding-bottom: 30px;
    border-bottom: 3px solid rgb(79, 83, 102);
}
.authenticationSelection{
    cursor: pointer;
}
.authenticationSelection:hover{
    color: #000;
}
