@font-face {
    font-family: "MontserratBold";
    src: url('./fonts/Monrseratt-Bold/Montserrat-Bold.eot') format('eot'),
    url('./fonts/Monrseratt-Bold/Montserrat-Bold.otf') format('otf'),
    url('./fonts/Monrseratt-Bold/Montserrat-Bold.ttf') format('ttf'),
    url('./fonts/Monrseratt-Bold/Montserrat-Bold.woff') format('woff');
}
@font-face {
    font-family: "MontserratRegular";
    src: url('./fonts/Monrseratt-Regular/Montserrat-Regular.eot') format('eot'),
    url('./fonts/Monrseratt-Regular/Montserrat-Regular.otf') format('otf'),
    url('./fonts/Monrseratt-Regular/Montserrat-Regular.ttf') format('ttf'),
    url('./fonts/Monrseratt-Regular/Montserrat-Regular.woff') format('woff');
}
