
@mixin calcWidth($w, $wcont) {
      width: $w / $wcont * 100 + 0%;
}

@mixin media($breakpoint){
    
}

@mixin arrowRight($colorOne, $top) {

      height: 20px;
    width: 40px;
    position: absolute;
    right: 10px;
    top: $top;
        &::after {
            content: " ";
            position: absolute;
            top: 3px;
            right: 10px;
            
            border: solid $colorOne;
            border-width: 0 3px 3px 0;
        
            display: inline-block;
            padding: 4px;
        
            transform: rotate(-45deg);
        }
        &::before {
            content: " ";
            position: absolute;
            top: 7px;
            right: 0;
            left: 0;
            margin-left: auto;
            margin-right: auto;
           
              background-color: $colorOne;

            width: 15px;
            height: 3px;
            display: inline-block;
        }

      &:hover,:focus {
            cursor: pointer;
                  &::before, &::after {
                        
                        opacity: 0.5;
                  }
      }     

}