//------------Animation-----------------

$time:0.8s;

//------------colors-----------------
$DarkShade-100:#1F2041;
$DarkShade-75: #575871;
$DarkShade-50: #8F90A0;
$DarkShade-25: #C7C7CF;
$DarkShade-5: #F3F4F5;
$Purple: #BC9CFF;
$Green: #6FCF97;
$Blue: #8BA4F9;

//------------fonts-size-----------------
$fn-xxs: 0.75rem;    //12px
$fn-xs: 0.875rem;    //14px
$fn-s: 1.1875rem;    //19px
$fn-m: 1.5rem;       //24px


//------------width-for-containers-----------------


//------------width-for-buttons-----------------
$btn-item-s:120px;
$btn-width-s:270px

